@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5e9e5;
}
a {
  text-decoration: none;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background-image: url("image/landing-page-background.jpg");
  background-size: cover;
  border-radius: 0 0 160px 160px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.landing-page::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.landing-page > * {
  position: relative;
  z-index: 1;
}
.landing-page header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 2rem 6vw;
}
.landing-page nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}
.landing-page nav ul li {
  margin-left: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.landing-page a {
  color: #dfdbdb;
}

.header-link-group a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.header-link-group a:first-child {
  margin-right: 16px;
}
.header-link-group a:last-child {
  border: 1px solid #d2d2d2;
  padding: 8px 18px;
  border-radius: 24px;
}

.main-title {
  max-width: 460px;
  margin-bottom: 4rem;
}
.main-title h1 {
  font-size: 64px;
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
}
.main-title p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  margin: 1rem 0;
}
.main-title button {
  margin: 0 auto;
  background-color: #e76f51;
  padding: 11px 40px;
  display: block;
  border: 0;
  border-radius: 24px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.feature-items-container {
  width: 87%;
  z-index: 1;
  position: relative;
  display: flex;
  margin: -101px auto 0;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
.feature-item,
.destination {
  width: 23%;
  min-width: 200px;
  border-radius: 18px;
  background-color: #ffffff;
  margin: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #3b3735;
  padding: 2.3rem 0.5rem 1.8rem;
}
.feature-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 1rem 0 0.7rem;
  font-family: "Roboto", sans-serif;
}

.feature-item img {
  width: 70px;
  object-fit: contain;
}
.feature-item p {
  width: 92%;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
}
.destinations-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5rem auto 3.5rem;
}
.destinations-title h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  max-width: 430px;
  font-size: 1.85em;
  margin-top: 1.2rem;
  text-align: center;
  color: #3b3735;
}
.destinations-title img {
  width: 70px;
}
.destinations-container {
  width: 87%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem auto;
}
section.destination {
  padding: 1.4rem;
}
.destination .image-container {
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  height: 143px;
}
.destination h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
  font-size: 17px;
  margin: 0.73rem 0;
}
.destination p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3rem;
}
.destination img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.destination .readMore-btn {
  background-color: rgb(48, 48, 48, 0.13);
  border: 0;
  color: #8d8d8d;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 26px;
  cursor: pointer;
  margin: 0.3rem 0;
  font-family: "Roboto", sans-serif;
}
.readMore-btn:hover {
  color: black;
}
span.destination-price {
  background-color: white;
  border-radius: 12px;
  display: inline;
  position: relative;
  padding: 12px 24px;
  margin-top: -23px;
  color: #e76f51;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.image-container span {
  position: absolute;
  top: 12px;
  padding: 6px 9px 9px;
  right: 12px;
  background-color: white;
  border-radius: 14px;
}
.viewAll-btn {
  color: #e76f51;
  border: #e76f51 solid 1px;
  border-radius: 20px;
  padding: 9px 45px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: none;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
  transition: all .3s linear .05s;
}
.viewAll-btn:hover {
  background-color: #e76f51;
  color: white;
}
.contactUs {
  width: 87%;
  margin: 7rem auto 4rem;
  border-radius: 18px;
  background-color: #f8d9d2;
  display: flex;
  padding: 1.3rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;  

}
.contactUs-form {
  width: 55%;
  color: #3B3735;
  margin: 2rem 0 2rem 2.4rem ;
}
.contactUs-form h2 {
  font-size: 2rem;
  font-family: 'Archivo',sans-serif;
  margin-bottom: .7rem;
  font-weight: 900;
}
.contactUs-form p {
  font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 1.5rem;
    width: 85%;
    line-height: 1.45;
}
img.contactUs-image {
  width:300px;
}
.contactUs-form form {
  position: relative;
  width: fit-content;
}
.contactUs-form form input[type="email"] {
  border: 0;
  padding: 1.3rem 1.3rem 1.3rem 2.5rem;
  width: 360px;
  font-size: 14px;
  border-radius: 14px;
  min-width: 250px;
  color: #8d8d8d;
  box-shadow: 5px 10px 30px #e4d2c9;
}
.contactUs-form input::placeholder {
  color: #8d8d8d;
}
.contactUs-form form button {
  position: absolute;
  border: none;
  top: 9px;
  background-color: #e76f51;
  border-radius: 17px;
  padding: .7rem .6rem .77rem .7rem;
  right: 9px;
  box-shadow: 5px 10px 30px #eea795;
}
.contactUs-form form button img {
  width: 23px;
}
.contactUs-form .message-icon {
  position: absolute;
  left: 12px;
  width: 23px;
  top: 20px;
}

@media screen and (max-width: 500px) {
  /*mobile size*/
  .destinations-container {
    justify-content: center;
  }
  .destinations-title {
    margin: 3rem auto 3.5rem;
  }
  .feature-items-container {
    justify-content: center;
    margin-top: -65px;
  }
  .destination {
    width: 85%;
  }

  .main-title {
    max-width: 460px;
  }
  
  .feature-item {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  /*tablet size*/
    .landing-page {
      border-radius: 0 0 100px 100px;
    }
    .main-title h1 {
      font-size: 40px;
    }
}
@media  screen and (max-width: 860px) {
  .contactUs{
    flex-flow: column wrap;
    align-items: center;
  }
  img.contactUs-image {
    order: 1;
    width: 245px;
  }
  .contactUs-form {
    width: 100%;
    margin: 2rem 0;
    order: 2;
  }
  .contactUs-form h2,
  .contactUs-form p {
    text-align: center;
    width: 100%;
  }
  .contactUs-form form,
  .contactUs-form form input[type="email"] {
    width: 100% ;
    min-width: 210px;
  }
}

